.mt10 {
  padding-top: 10px;
}
.mt20 {
  padding-top: 20px;
}
.mt30 {
  padding-top: 30px;
}
.pull-right {
  text-align: right;
}
.comment-icon-box, .comment-content-box {
  height: 60px;
  line-height: 60px;
}
